*.sch-bak
*.kicad_pcb-bak
poly_kybd/poly_kb-backups/*
poly_kybd/poly_kb_molecule_4x1_wave_right-backups/*
poly_kybd/poly_kb_wave_left-backups/*
poly_kybd/poly_kb_wave_right-backups/*
poly_kybd/poly_kb_wave_right2-backups/*
poly_kybd/connector-backups/*
poly_kybd/_autosave*
poly_kybd/#auto_saved_files#
fp-info-cache
poly_kybd/ThirdParty/*
keycaps/NopSCADlib/*

poly_kybd/*-backups/*.zip
parts/NopSCADlib/.gitattributes
parts/NopSCADlib/.gitignore
parts/NopSCADlib/CHANGELOG.md
parts/NopSCADlib/COPYING
parts/NopSCADlib/core.scad
parts/NopSCADlib/global_defs.scad
parts/NopSCADlib/lib.scad
parts/NopSCADlib/libtest.png
parts/NopSCADlib/libtest.scad
parts/NopSCADlib/readme.md
parts/NopSCADlib/docs/7 SEGMENT.TTF
parts/NopSCADlib/docs/box.odg
parts/NopSCADlib/docs/box.png
parts/NopSCADlib/docs/metric_threads.png
parts/NopSCADlib/docs/usage.md
parts/NopSCADlib/examples/EnviroPlus/readme.md
parts/NopSCADlib/examples/EnviroPlus/assemblies/back_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/back_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/back_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/back_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/case_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/case_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/case_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/case_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_case_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_case_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_case_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/enviro_case_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/fan_controller_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/fan_controller_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/fan_controller_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/fan_controller_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/main_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/main_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/main_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/main_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_assembly.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_case_assembled_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_case_assembled.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_case_assembly_tn.png
parts/NopSCADlib/examples/EnviroPlus/assemblies/RPI_case_assembly.png
parts/NopSCADlib/examples/EnviroPlus/bom/back_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/bom.csv
parts/NopSCADlib/examples/EnviroPlus/bom/bom.json
parts/NopSCADlib/examples/EnviroPlus/bom/bom.txt
parts/NopSCADlib/examples/EnviroPlus/bom/case_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/enviro_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/enviro_case_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/fan_controller_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/main_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/RPI_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/bom/RPI_case_assembly.txt
parts/NopSCADlib/examples/EnviroPlus/docs/cuts.jpg
parts/NopSCADlib/examples/EnviroPlus/docs/fan_connection.jpg
parts/NopSCADlib/examples/EnviroPlus/docs/fan_controller.jpg
parts/NopSCADlib/examples/EnviroPlus/docs/smt.jpg
parts/NopSCADlib/examples/EnviroPlus/scad/fan_controller.scad
parts/NopSCADlib/examples/EnviroPlus/scad/main.scad
parts/NopSCADlib/examples/EnviroPlus/stls/bulkhead.png
parts/NopSCADlib/examples/EnviroPlus/stls/bulkhead.stl
parts/NopSCADlib/examples/EnviroPlus/stls/enviro_plus_case_base.png
parts/NopSCADlib/examples/EnviroPlus/stls/enviro_plus_case_base.stl
parts/NopSCADlib/examples/EnviroPlus/stls/enviro_plus_case.png
parts/NopSCADlib/examples/EnviroPlus/stls/enviro_plus_case.stl
parts/NopSCADlib/examples/EnviroPlus/stls/fan_duct.png
parts/NopSCADlib/examples/EnviroPlus/stls/fan_duct.stl
parts/NopSCADlib/examples/EnviroPlus/stls/foot.png
parts/NopSCADlib/examples/EnviroPlus/stls/foot.stl
parts/NopSCADlib/examples/MainsBreakOutBox/readme.md
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/base_assembled_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/base_assembled.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/base_assembly_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/base_assembly.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/feet_assembled_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/feet_assembled.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/feet_assembly_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/feet_assembly.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/main_assembled_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/main_assembled.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/main_assembly_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/main_assembly.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/mains_in_assembled_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/mains_in_assembled.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/mains_in_assembly_tn.png
parts/NopSCADlib/examples/MainsBreakOutBox/assemblies/mains_in_assembly.png
parts/NopSCADlib/examples/MainsBreakOutBox/bom/base_assembly.txt
parts/NopSCADlib/examples/MainsBreakOutBox/bom/bom.csv
parts/NopSCADlib/examples/MainsBreakOutBox/bom/bom.json
parts/NopSCADlib/examples/MainsBreakOutBox/bom/bom.txt
parts/NopSCADlib/examples/MainsBreakOutBox/bom/feet_assembly.txt
parts/NopSCADlib/examples/MainsBreakOutBox/bom/main_assembly.txt
parts/NopSCADlib/examples/MainsBreakOutBox/bom/mains_in_assembly.txt
parts/NopSCADlib/examples/MainsBreakOutBox/docs/inside_small.jpg
parts/NopSCADlib/examples/MainsBreakOutBox/docs/inside.jpg
parts/NopSCADlib/examples/MainsBreakOutBox/platters/all.scad
parts/NopSCADlib/examples/MainsBreakOutBox/scad/bob_main.scad
parts/NopSCADlib/examples/MainsBreakOutBox/stls/foot.png
parts/NopSCADlib/examples/MainsBreakOutBox/stls/foot.stl
parts/NopSCADlib/examples/MainsBreakOutBox/stls/socket_box.png
parts/NopSCADlib/examples/MainsBreakOutBox/stls/socket_box.stl
parts/NopSCADlib/examples/MainsBreakOutBox/stls/deps/all.txt
parts/NopSCADlib/examples/MainsBreakOutBox/stls/printed/all.stl
parts/NopSCADlib/gallery/ArduinoThermostat.png
parts/NopSCADlib/gallery/EnviroPlus.png
parts/NopSCADlib/gallery/FilamentDryBox.png
parts/NopSCADlib/gallery/HydraBot.png
parts/NopSCADlib/gallery/IOT_50V_PSU.png
parts/NopSCADlib/gallery/IOT_LOAD.png
parts/NopSCADlib/gallery/Lab_ATX_PSU.png
parts/NopSCADlib/gallery/Laser_load.png
parts/NopSCADlib/gallery/Mains_Box.png
parts/NopSCADlib/gallery/MainsBreakOutBox.png
parts/NopSCADlib/gallery/PotBox.png
parts/NopSCADlib/gallery/PSU_cover.png
parts/NopSCADlib/gallery/readme.md
parts/NopSCADlib/gallery/SunBot.png
parts/NopSCADlib/gallery/Turntable.png
parts/NopSCADlib/gallery/Variac.png
parts/NopSCADlib/printed/box_assembly.scad
parts/NopSCADlib/printed/box.scad
parts/NopSCADlib/printed/butt_box.scad
parts/NopSCADlib/printed/cable_clip.scad
parts/NopSCADlib/printed/cable_grommets.scad
parts/NopSCADlib/printed/camera_housing.scad
parts/NopSCADlib/printed/carriers.scad
parts/NopSCADlib/printed/corner_block.scad
parts/NopSCADlib/printed/door_hinge.scad
parts/NopSCADlib/printed/door_latch.scad
parts/NopSCADlib/printed/drag_chain.scad
parts/NopSCADlib/printed/fan_guard.scad
parts/NopSCADlib/printed/fixing_block.scad
parts/NopSCADlib/printed/flat_hinge.scad
parts/NopSCADlib/printed/foot.scad
parts/NopSCADlib/printed/handle.scad
parts/NopSCADlib/printed/knob.scad
parts/NopSCADlib/printed/led_bezel.scad
parts/NopSCADlib/printed/pcb_mount.scad
parts/NopSCADlib/printed/pocket_handle.scad
parts/NopSCADlib/printed/press_fit.scad
parts/NopSCADlib/printed/printed_box.scad
parts/NopSCADlib/printed/printed_pulleys.scad
parts/NopSCADlib/printed/psu_shroud.scad
parts/NopSCADlib/printed/ribbon_clamp.scad
parts/NopSCADlib/printed/screw_knob.scad
parts/NopSCADlib/printed/socket_box.scad
parts/NopSCADlib/printed/ssr_shroud.scad
parts/NopSCADlib/printed/strap_handle.scad
parts/NopSCADlib/scripts/blurb.py
parts/NopSCADlib/scripts/bom.py
parts/NopSCADlib/scripts/c14n_stl.py
parts/NopSCADlib/scripts/changelog.py
parts/NopSCADlib/scripts/deps.py
parts/NopSCADlib/scripts/doc_scripts.py
parts/NopSCADlib/scripts/dxfs.py
parts/NopSCADlib/scripts/exports.py
parts/NopSCADlib/scripts/gallery.py
parts/NopSCADlib/scripts/make_all.py
parts/NopSCADlib/scripts/openscad.py
parts/NopSCADlib/scripts/options.py
parts/NopSCADlib/scripts/panels.py
parts/NopSCADlib/scripts/plateup.py
parts/NopSCADlib/scripts/platters.py
parts/NopSCADlib/scripts/readme.md
parts/NopSCADlib/scripts/render.py
parts/NopSCADlib/scripts/set_config.py
parts/NopSCADlib/scripts/stls.py
parts/NopSCADlib/scripts/svgs.py
parts/NopSCADlib/scripts/tests.py
parts/NopSCADlib/scripts/times.py
parts/NopSCADlib/scripts/tmpdir.py
parts/NopSCADlib/scripts/views.py
parts/NopSCADlib/tests/7_segments.scad
parts/NopSCADlib/tests/annotation.scad
parts/NopSCADlib/tests/axials.scad
parts/NopSCADlib/tests/ball_bearings.scad
parts/NopSCADlib/tests/batteries.scad
parts/NopSCADlib/tests/bearing_blocks.scad
parts/NopSCADlib/tests/belts.scad
parts/NopSCADlib/tests/bezier.scad
parts/NopSCADlib/tests/BLDC_motors.scad
parts/NopSCADlib/tests/blowers.scad
parts/NopSCADlib/tests/BOM.scad
parts/NopSCADlib/tests/box_sections.scad
parts/NopSCADlib/tests/box.scad
parts/NopSCADlib/tests/bulldogs.scad
parts/NopSCADlib/tests/butt_box.scad
parts/NopSCADlib/tests/buttons.scad
parts/NopSCADlib/tests/cable_clip.scad
parts/NopSCADlib/tests/cable_grommets.scad
parts/NopSCADlib/tests/cable_strips.scad
parts/NopSCADlib/tests/camera_housing.scad
parts/NopSCADlib/tests/cameras.scad
parts/NopSCADlib/tests/carriers.scad
parts/NopSCADlib/tests/catenary.scad
parts/NopSCADlib/tests/circlips.scad
parts/NopSCADlib/tests/clip.scad
parts/NopSCADlib/tests/components.scad
parts/NopSCADlib/tests/core_xy.scad
parts/NopSCADlib/tests/corner_block.scad
parts/NopSCADlib/tests/d_connectors.scad
parts/NopSCADlib/tests/DIP.scad
parts/NopSCADlib/tests/displays.scad
parts/NopSCADlib/tests/dogbones.scad
parts/NopSCADlib/tests/door_hinge.scad
parts/NopSCADlib/tests/door_latch.scad
parts/NopSCADlib/tests/drag_chain.scad
parts/NopSCADlib/tests/extrusion_brackets.scad
parts/NopSCADlib/tests/extrusions.scad
parts/NopSCADlib/tests/fan_guard.scad
parts/NopSCADlib/tests/fans.scad
parts/NopSCADlib/tests/fillet.scad
parts/NopSCADlib/tests/fixing_block.scad
parts/NopSCADlib/tests/flat_hinge.scad
parts/NopSCADlib/tests/foot.scad
parts/NopSCADlib/tests/fuseholder.scad
parts/NopSCADlib/tests/geared_steppers.scad
parts/NopSCADlib/tests/gears.scad
parts/NopSCADlib/tests/global.scad
parts/NopSCADlib/tests/green_terminals.scad
parts/NopSCADlib/tests/handle.scad
parts/NopSCADlib/tests/hanging_hole.scad
parts/NopSCADlib/tests/horiholes.scad
parts/NopSCADlib/tests/hot_ends.scad
parts/NopSCADlib/tests/hygrometer.scad
parts/NopSCADlib/tests/IECs.scad
parts/NopSCADlib/tests/inserts.scad
parts/NopSCADlib/tests/jack.scad
parts/NopSCADlib/tests/knob.scad
parts/NopSCADlib/tests/layout.scad
parts/NopSCADlib/tests/LDRs.scad
parts/NopSCADlib/tests/leadnuts.scad
parts/NopSCADlib/tests/LED_bezel.scad
parts/NopSCADlib/tests/LED_meters.scad
parts/NopSCADlib/tests/LEDs.scad
parts/NopSCADlib/tests/light_strips.scad
parts/NopSCADlib/tests/linear_bearings.scad
parts/NopSCADlib/tests/magnets.scad
parts/NopSCADlib/tests/mains_sockets.scad
parts/NopSCADlib/tests/maths.scad
parts/NopSCADlib/tests/microswitches.scad
parts/NopSCADlib/tests/microview.scad
parts/NopSCADlib/tests/modules.scad
parts/NopSCADlib/tests/nuts.scad
parts/NopSCADlib/tests/o_ring.scad
parts/NopSCADlib/tests/offset.scad
parts/NopSCADlib/tests/opengrab.scad
parts/NopSCADlib/tests/panel_meters.scad
parts/NopSCADlib/tests/PCB_mount.scad
parts/NopSCADlib/tests/PCB.scad
parts/NopSCADlib/tests/PCBs.scad
parts/NopSCADlib/tests/pillars.scad
parts/NopSCADlib/tests/pillow_blocks.scad
parts/NopSCADlib/tests/pin_headers.scad
parts/NopSCADlib/tests/pocket_handle.scad
parts/NopSCADlib/tests/polyholes.scad
parts/NopSCADlib/tests/potentiometers.scad
parts/NopSCADlib/tests/press_fit.scad
parts/NopSCADlib/tests/printed_box.scad
parts/NopSCADlib/tests/printed_pulleys.scad
parts/NopSCADlib/tests/PSU_shroud.scad
parts/NopSCADlib/tests/PSUs.scad
parts/NopSCADlib/tests/pulleys.scad
parts/NopSCADlib/tests/quadrant.scad
parts/NopSCADlib/tests/radials.scad
parts/NopSCADlib/tests/rails.scad
parts/NopSCADlib/tests/ribbon_clamp.scad
parts/NopSCADlib/tests/ring_terminals.scad
parts/NopSCADlib/tests/rockers.scad
parts/NopSCADlib/tests/rod.scad
parts/NopSCADlib/tests/round.scad
parts/NopSCADlib/tests/rounded_cylinder.scad
parts/NopSCADlib/tests/rounded_polygon.scad
parts/NopSCADlib/tests/rounded_rectangle.scad
parts/NopSCADlib/tests/rounded_triangle.scad
parts/NopSCADlib/tests/screw_knob.scad
parts/NopSCADlib/tests/screws.scad
parts/NopSCADlib/tests/sealing_strip.scad
parts/NopSCADlib/tests/sector.scad
parts/NopSCADlib/tests/servo_motors.scad
parts/NopSCADlib/tests/shaft_couplings.scad
parts/NopSCADlib/tests/sheets.scad
parts/NopSCADlib/tests/SK_brackets.scad
parts/NopSCADlib/tests/SMDs.scad
parts/NopSCADlib/tests/socket_box.scad
parts/NopSCADlib/tests/spades.scad
parts/NopSCADlib/tests/sphere.scad
parts/NopSCADlib/tests/spools.scad
parts/NopSCADlib/tests/springs.scad
parts/NopSCADlib/tests/SSR_shroud.scad
parts/NopSCADlib/tests/SSRs.scad
parts/NopSCADlib/tests/stepper_motors.scad
parts/NopSCADlib/tests/strap_handle.scad
parts/NopSCADlib/tests/sweep.scad
parts/NopSCADlib/tests/Swiss_clips.scad
parts/NopSCADlib/tests/teardrops.scad
parts/NopSCADlib/tests/terminals.scad
parts/NopSCADlib/tests/thread.scad
parts/NopSCADlib/tests/toggles.scad
parts/NopSCADlib/tests/transformers.scad
parts/NopSCADlib/tests/tube.scad
parts/NopSCADlib/tests/tubings.scad
parts/NopSCADlib/tests/variacs.scad
parts/NopSCADlib/tests/veroboard.scad
parts/NopSCADlib/tests/washers.scad
parts/NopSCADlib/tests/wire.scad
parts/NopSCADlib/tests/zipties.scad
parts/NopSCADlib/tests/png/7_segments.png
parts/NopSCADlib/tests/png/annotation.png
parts/NopSCADlib/tests/png/axials.png
parts/NopSCADlib/tests/png/ball_bearings.png
parts/NopSCADlib/tests/png/batteries.png
parts/NopSCADlib/tests/png/bearing_blocks.png
parts/NopSCADlib/tests/png/belts.png
parts/NopSCADlib/tests/png/bezier.png
parts/NopSCADlib/tests/png/bldc_motors.png
parts/NopSCADlib/tests/png/blowers.png
parts/NopSCADlib/tests/png/bom.png
parts/NopSCADlib/tests/png/box_sections.png
parts/NopSCADlib/tests/png/box.png
parts/NopSCADlib/tests/png/bulldogs.png
parts/NopSCADlib/tests/png/butt_box.png
parts/NopSCADlib/tests/png/buttons.png
parts/NopSCADlib/tests/png/cable_clip.png
parts/NopSCADlib/tests/png/cable_grommets.png
parts/NopSCADlib/tests/png/cable_strips.png
parts/NopSCADlib/tests/png/camera_housing.png
parts/NopSCADlib/tests/png/cameras.png
parts/NopSCADlib/tests/png/carriers.png
parts/NopSCADlib/tests/png/catenary.png
parts/NopSCADlib/tests/png/circlips.png
parts/NopSCADlib/tests/png/clip.png
parts/NopSCADlib/tests/png/components.png
parts/NopSCADlib/tests/png/core_xy.png
parts/NopSCADlib/tests/png/corner_block.png
parts/NopSCADlib/tests/png/d_connectors.png
parts/NopSCADlib/tests/png/dip.png
parts/NopSCADlib/tests/png/displays.png
parts/NopSCADlib/tests/png/dogbones.png
parts/NopSCADlib/tests/png/door_hinge.png
parts/NopSCADlib/tests/png/door_latch.png
parts/NopSCADlib/tests/png/drag_chain.png
parts/NopSCADlib/tests/png/extrusion_brackets.png
parts/NopSCADlib/tests/png/extrusions.png
parts/NopSCADlib/tests/png/fan_guard.png
parts/NopSCADlib/tests/png/fans.png
parts/NopSCADlib/tests/png/fillet.png
parts/NopSCADlib/tests/png/fixing_block.png
parts/NopSCADlib/tests/png/flat_hinge.png
parts/NopSCADlib/tests/png/foot.png
parts/NopSCADlib/tests/png/fuseholder.png
parts/NopSCADlib/tests/png/geared_steppers.png
parts/NopSCADlib/tests/png/gears.png
parts/NopSCADlib/tests/png/global.png
parts/NopSCADlib/tests/png/green_terminals.png
parts/NopSCADlib/tests/png/handle.png
parts/NopSCADlib/tests/png/hanging_hole.png
parts/NopSCADlib/tests/png/horiholes.png
parts/NopSCADlib/tests/png/hot_ends.png
parts/NopSCADlib/tests/png/hygrometer.png
parts/NopSCADlib/tests/png/iecs.png
parts/NopSCADlib/tests/png/inserts.png
parts/NopSCADlib/tests/png/jack.png
parts/NopSCADlib/tests/png/knob.png
parts/NopSCADlib/tests/png/kp_pillow_blocks.png
parts/NopSCADlib/tests/png/layout.png
parts/NopSCADlib/tests/png/ldrs.png
parts/NopSCADlib/tests/png/leadnuts.png
parts/NopSCADlib/tests/png/led_bezel.png
parts/NopSCADlib/tests/png/led_meters.png
parts/NopSCADlib/tests/png/leds.png
parts/NopSCADlib/tests/png/light_strips.png
parts/NopSCADlib/tests/png/linear_bearings.png
parts/NopSCADlib/tests/png/magnets.png
parts/NopSCADlib/tests/png/mains_sockets.png
parts/NopSCADlib/tests/png/maths.png
parts/NopSCADlib/tests/png/microswitches.png
parts/NopSCADlib/tests/png/microview.png
parts/NopSCADlib/tests/png/modules.png
parts/NopSCADlib/tests/png/nuts.png
parts/NopSCADlib/tests/png/o_ring.png
parts/NopSCADlib/tests/png/offset.png
parts/NopSCADlib/tests/png/opengrab.png
parts/NopSCADlib/tests/png/panel_meters.png
parts/NopSCADlib/tests/png/pcb_mount.png
parts/NopSCADlib/tests/png/pcb.png
parts/NopSCADlib/tests/png/pcbs.png
parts/NopSCADlib/tests/png/pillars.png
parts/NopSCADlib/tests/png/pillow_blocks.png
parts/NopSCADlib/tests/png/pin_headers.png
parts/NopSCADlib/tests/png/pocket_handle.png
parts/NopSCADlib/tests/png/polyholes.png
parts/NopSCADlib/tests/png/potentiometers.png
parts/NopSCADlib/tests/png/press_fit.png
parts/NopSCADlib/tests/png/printed_box.png
parts/NopSCADlib/tests/png/printed_pulleys.png
parts/NopSCADlib/tests/png/psu_shroud.png
parts/NopSCADlib/tests/png/psus.png
parts/NopSCADlib/tests/png/pulleys.png
parts/NopSCADlib/tests/png/quadrant.png
parts/NopSCADlib/tests/png/radials.png
parts/NopSCADlib/tests/png/rails.png
parts/NopSCADlib/tests/png/ribbon_clamp.png
parts/NopSCADlib/tests/png/ring_terminals.png
parts/NopSCADlib/tests/png/rockers.png
parts/NopSCADlib/tests/png/rod.png
parts/NopSCADlib/tests/png/round.png
parts/NopSCADlib/tests/png/rounded_cylinder.png
parts/NopSCADlib/tests/png/rounded_polygon.png
parts/NopSCADlib/tests/png/rounded_rectangle.png
parts/NopSCADlib/tests/png/rounded_right_triangle.png
parts/NopSCADlib/tests/png/rounded_triangle.png
parts/NopSCADlib/tests/png/screw_knob.png
parts/NopSCADlib/tests/png/screws.png
parts/NopSCADlib/tests/png/scs_bearing_blocks.png
parts/NopSCADlib/tests/png/sealing_strip.png
parts/NopSCADlib/tests/png/sector.png
parts/NopSCADlib/tests/png/servo_motors.png
parts/NopSCADlib/tests/png/shaft_couplings.png
parts/NopSCADlib/tests/png/sheets.png
parts/NopSCADlib/tests/png/sk_brackets.png
parts/NopSCADlib/tests/png/smds.png
parts/NopSCADlib/tests/png/socket_box.png
parts/NopSCADlib/tests/png/spades.png
parts/NopSCADlib/tests/png/sphere.png
parts/NopSCADlib/tests/png/spools.png
parts/NopSCADlib/tests/png/springs.png
parts/NopSCADlib/tests/png/ssr_shroud.png
parts/NopSCADlib/tests/png/ssrs.png
parts/NopSCADlib/tests/png/stepper_motors.png
parts/NopSCADlib/tests/png/strap_handle.png
parts/NopSCADlib/tests/png/sweep.png
parts/NopSCADlib/tests/png/swiss_clips.png
parts/NopSCADlib/tests/png/teardrops.png
parts/NopSCADlib/tests/png/terminals.png
parts/NopSCADlib/tests/png/thread.png
parts/NopSCADlib/tests/png/toggles.png
parts/NopSCADlib/tests/png/transformers.png
parts/NopSCADlib/tests/png/tube.png
parts/NopSCADlib/tests/png/tubings.png
parts/NopSCADlib/tests/png/variacs.png
parts/NopSCADlib/tests/png/veroboard.png
parts/NopSCADlib/tests/png/washers.png
parts/NopSCADlib/tests/png/wire.png
parts/NopSCADlib/tests/png/zipties.png
parts/NopSCADlib/utils/annotation.scad
parts/NopSCADlib/utils/bezier.scad
parts/NopSCADlib/utils/catenary.scad
parts/NopSCADlib/utils/core_xy.scad
parts/NopSCADlib/utils/dogbones.scad
parts/NopSCADlib/utils/fillet.scad
parts/NopSCADlib/utils/gears.scad
parts/NopSCADlib/utils/hanging_hole.scad
parts/NopSCADlib/utils/horiholes.scad
parts/NopSCADlib/utils/layout.scad
parts/NopSCADlib/utils/maths.scad
parts/NopSCADlib/utils/offset.scad
parts/NopSCADlib/utils/quadrant.scad
parts/NopSCADlib/utils/round.scad
parts/NopSCADlib/utils/rounded_cylinder.scad
parts/NopSCADlib/utils/rounded_polygon.scad
parts/NopSCADlib/utils/rounded_triangle.scad
parts/NopSCADlib/utils/sector.scad
parts/NopSCADlib/utils/sweep.scad
parts/NopSCADlib/utils/thread.scad
parts/NopSCADlib/utils/tube.scad
parts/NopSCADlib/utils/core/bom.scad
parts/NopSCADlib/utils/core/clip.scad
parts/NopSCADlib/utils/core/core.scad
parts/NopSCADlib/utils/core/global.scad
parts/NopSCADlib/utils/core/polyholes.scad
parts/NopSCADlib/utils/core/rounded_rectangle.scad
parts/NopSCADlib/utils/core/sphere.scad
parts/NopSCADlib/utils/core/teardrops.scad
parts/NopSCADlib/vitamins/7_segment.scad
parts/NopSCADlib/vitamins/7_segments.scad
parts/NopSCADlib/vitamins/axial.scad
parts/NopSCADlib/vitamins/axials.scad
parts/NopSCADlib/vitamins/ball_bearing.scad
parts/NopSCADlib/vitamins/ball_bearings.scad
parts/NopSCADlib/vitamins/batteries.scad
parts/NopSCADlib/vitamins/battery.scad
parts/NopSCADlib/vitamins/bearing_block.scad
parts/NopSCADlib/vitamins/bearing_blocks.scad
parts/NopSCADlib/vitamins/belt.scad
parts/NopSCADlib/vitamins/belts.scad
parts/NopSCADlib/vitamins/bldc_motor.scad
parts/NopSCADlib/vitamins/bldc_motors.scad
parts/NopSCADlib/vitamins/blower.scad
parts/NopSCADlib/vitamins/blowers.scad
parts/NopSCADlib/vitamins/box_section.scad
parts/NopSCADlib/vitamins/box_sections.scad
parts/NopSCADlib/vitamins/bulldog.scad
parts/NopSCADlib/vitamins/bulldogs.scad
parts/NopSCADlib/vitamins/button.scad
parts/NopSCADlib/vitamins/buttons.scad
parts/NopSCADlib/vitamins/cable_strip.scad
parts/NopSCADlib/vitamins/camera.scad
parts/NopSCADlib/vitamins/cameras.scad
parts/NopSCADlib/vitamins/circlip.scad
parts/NopSCADlib/vitamins/circlips.scad
parts/NopSCADlib/vitamins/component.scad
parts/NopSCADlib/vitamins/components.scad
parts/NopSCADlib/vitamins/d_connector.scad
parts/NopSCADlib/vitamins/d_connectors.scad
parts/NopSCADlib/vitamins/dip.scad
parts/NopSCADlib/vitamins/display.scad
parts/NopSCADlib/vitamins/displays.scad
parts/NopSCADlib/vitamins/e3d.scad
parts/NopSCADlib/vitamins/extrusion_bracket.scad
parts/NopSCADlib/vitamins/extrusion_brackets.scad
parts/NopSCADlib/vitamins/extrusion.scad
parts/NopSCADlib/vitamins/extrusions.scad
parts/NopSCADlib/vitamins/fan.scad
parts/NopSCADlib/vitamins/fans.scad
parts/NopSCADlib/vitamins/fuseholder.scad
parts/NopSCADlib/vitamins/geared_stepper.scad
parts/NopSCADlib/vitamins/geared_steppers.scad
parts/NopSCADlib/vitamins/green_terminal.scad
parts/NopSCADlib/vitamins/green_terminals.scad
parts/NopSCADlib/vitamins/hot_end.scad
parts/NopSCADlib/vitamins/hot_ends.scad
parts/NopSCADlib/vitamins/hygrometer.scad
parts/NopSCADlib/vitamins/iec.scad
parts/NopSCADlib/vitamins/iecs.scad
parts/NopSCADlib/vitamins/insert.scad
parts/NopSCADlib/vitamins/inserts.scad
parts/NopSCADlib/vitamins/jack.scad
parts/NopSCADlib/vitamins/jhead.scad
parts/NopSCADlib/vitamins/ldr.scad
parts/NopSCADlib/vitamins/ldrs.scad
parts/NopSCADlib/vitamins/leadnut.scad
parts/NopSCADlib/vitamins/leadnuts.scad
parts/NopSCADlib/vitamins/led_meter.scad
parts/NopSCADlib/vitamins/led_meters.scad
parts/NopSCADlib/vitamins/led.scad
parts/NopSCADlib/vitamins/leds.scad
parts/NopSCADlib/vitamins/light_strip.scad
parts/NopSCADlib/vitamins/light_strips.scad
parts/NopSCADlib/vitamins/linear_bearing.scad
parts/NopSCADlib/vitamins/linear_bearings.scad
parts/NopSCADlib/vitamins/magnet.scad
parts/NopSCADlib/vitamins/magnets.scad
parts/NopSCADlib/vitamins/mains_socket.scad
parts/NopSCADlib/vitamins/mains_sockets.scad
parts/NopSCADlib/vitamins/microswitch.scad
parts/NopSCADlib/vitamins/microswitches.scad
parts/NopSCADlib/vitamins/microview.scad
parts/NopSCADlib/vitamins/module.scad
parts/NopSCADlib/vitamins/modules.scad
parts/NopSCADlib/vitamins/nut.scad
parts/NopSCADlib/vitamins/nuts.scad
parts/NopSCADlib/vitamins/o_ring.scad
parts/NopSCADlib/vitamins/opengrab.scad
parts/NopSCADlib/vitamins/panel_meter.scad
parts/NopSCADlib/vitamins/panel_meters.scad
parts/NopSCADlib/vitamins/pcb.scad
parts/NopSCADlib/vitamins/pcbs.scad
parts/NopSCADlib/vitamins/pillar.scad
parts/NopSCADlib/vitamins/pillars.scad
parts/NopSCADlib/vitamins/pillow_block.scad
parts/NopSCADlib/vitamins/pillow_blocks.scad
parts/NopSCADlib/vitamins/pin_header.scad
parts/NopSCADlib/vitamins/pin_headers.scad
parts/NopSCADlib/vitamins/potentiometer.scad
parts/NopSCADlib/vitamins/potentiometers.scad
parts/NopSCADlib/vitamins/psu.scad
parts/NopSCADlib/vitamins/psus.scad
parts/NopSCADlib/vitamins/pulley.scad
parts/NopSCADlib/vitamins/pulleys.scad
parts/NopSCADlib/vitamins/radial.scad
parts/NopSCADlib/vitamins/radials.scad
parts/NopSCADlib/vitamins/rail.scad
parts/NopSCADlib/vitamins/rails.scad
parts/NopSCADlib/vitamins/ring_terminal.scad
parts/NopSCADlib/vitamins/ring_terminals.scad
parts/NopSCADlib/vitamins/rocker.scad
parts/NopSCADlib/vitamins/rockers.scad
parts/NopSCADlib/vitamins/rod.scad
parts/NopSCADlib/vitamins/screw.scad
parts/NopSCADlib/vitamins/screws.scad
parts/NopSCADlib/vitamins/sealing_strip.scad
parts/NopSCADlib/vitamins/servo_motor.scad
parts/NopSCADlib/vitamins/servo_motors.scad
parts/NopSCADlib/vitamins/shaft_coupling.scad
parts/NopSCADlib/vitamins/shaft_couplings.scad
parts/NopSCADlib/vitamins/sheet.scad
parts/NopSCADlib/vitamins/sheets.scad
parts/NopSCADlib/vitamins/sk_bracket.scad
parts/NopSCADlib/vitamins/sk_brackets.scad
parts/NopSCADlib/vitamins/smd.scad
parts/NopSCADlib/vitamins/smds.scad
parts/NopSCADlib/vitamins/spade.scad
parts/NopSCADlib/vitamins/spades.scad
parts/NopSCADlib/vitamins/spool.scad
parts/NopSCADlib/vitamins/spools.scad
parts/NopSCADlib/vitamins/spring.scad
parts/NopSCADlib/vitamins/springs.scad
parts/NopSCADlib/vitamins/ssr.scad
parts/NopSCADlib/vitamins/ssrs.scad
parts/NopSCADlib/vitamins/stepper_motor.scad
parts/NopSCADlib/vitamins/stepper_motors.scad
parts/NopSCADlib/vitamins/swiss_clip.scad
parts/NopSCADlib/vitamins/swiss_clips.scad
parts/NopSCADlib/vitamins/terminal.scad
parts/NopSCADlib/vitamins/toggle.scad
parts/NopSCADlib/vitamins/toggles.scad
parts/NopSCADlib/vitamins/transformer.scad
parts/NopSCADlib/vitamins/transformers.scad
parts/NopSCADlib/vitamins/tubing.scad
parts/NopSCADlib/vitamins/tubings.scad
parts/NopSCADlib/vitamins/variac.scad
parts/NopSCADlib/vitamins/variacs.scad
parts/NopSCADlib/vitamins/veroboard.scad
parts/NopSCADlib/vitamins/washer.scad
parts/NopSCADlib/vitamins/washers.scad
parts/NopSCADlib/vitamins/wire.scad
parts/NopSCADlib/vitamins/ziptie.scad
parts/NopSCADlib/vitamins/zipties.scad
parts/NopSCADlib/vitamins/microview/GKM-002_R05_CHIP_UPPER_HOUSING-1.STL
parts/NopSCADlib/vitamins/microview/GKM-003_R05_CHIP_LOWER_HOUSING.STL
parts/NopSCADlib/vitamins/microview/LICENSE.txt
parts/NopSCADlib/vitamins/stl/Molex_5023860470.stl
